BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "UART_RX" HYSTERESIS=LARGE IO_TYPE=LVCMOS33 CLAMP=OFF PULLMODE=UP ;
IOBUF PORT "UART_RX2" HYSTERESIS=LARGE IO_TYPE=LVCMOS33 CLAMP=OFF PULLMODE=UP ;
IOBUF PORT "IBM_BUS" HYSTERESIS=LARGE IO_TYPE=LVCMOS33 DRIVE=24 CLAMP=OFF PULLMODE=NONE ;
IOBUF PORT "UART_TX" DRIVE=24 IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "UART_TX2" DRIVE=24 IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "IBM_BUS" SITE "76" ;
LOCATE COMP "UART_RX" SITE "73" ;
LOCATE COMP "SNOOP_OUT[0]" SITE "34" ;
LOCATE COMP "SNOOP_OUT[1]" SITE "35" ;
LOCATE COMP "SNOOP_OUT[2]" SITE "32" ;
LOCATE COMP "SNOOP_OUT[3]" SITE "33" ;
LOCATE COMP "SNOOP_OUT[4]" SITE "27" ;
LOCATE COMP "SNOOP_OUT[5]" SITE "28" ;
LOCATE COMP "SNOOP_OUT[6]" SITE "25" ;
LOCATE COMP "SNOOP_OUT[7]" SITE "26" ;
LOCATE COMP "SNOOP_OUT[8]" SITE "23" ;
LOCATE COMP "BUFFER_DIR" SITE "98" ;
LOCATE COMP "UART_TX" SITE "74" ;

LOCATE COMP "UART_TX2" SITE "82" ;
LOCATE COMP "UART_RX2" SITE "84" ;
