
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2016/06/18
NET "CORE_CLK" TNM_NET = "CORE_CLK";
TIMESPEC TS_CORE_CLK = PERIOD "CORE_CLK" 20 ns HIGH 50 %;


NET "CORE_CLK" IOSTANDARD = PCI33_3;
NET "A8" IOSTANDARD = PCI33_3;
NET "A9" IOSTANDARD = PCI33_3;
NET "A10" IOSTANDARD = PCI33_3;
NET "A11" IOSTANDARD = PCI33_3;
NET "A12" IOSTANDARD = PCI33_3;
NET "A13" IOSTANDARD = PCI33_3;
NET "A14" IOSTANDARD = PCI33_3;
NET "A15" IOSTANDARD = PCI33_3;
NET "A16" IOSTANDARD = PCI33_3;
NET "A17" IOSTANDARD = PCI33_3;
NET "A18" IOSTANDARD = PCI33_3;
NET "A19" IOSTANDARD = PCI33_3;
NET "AD0" IOSTANDARD = PCI33_3;
NET "AD1" IOSTANDARD = PCI33_3;
NET "AD2" IOSTANDARD = PCI33_3;
NET "AD3" IOSTANDARD = PCI33_3;
NET "AD4" IOSTANDARD = PCI33_3;
NET "AD5" IOSTANDARD = PCI33_3;
NET "AD6" IOSTANDARD = PCI33_3;
NET "AD7" IOSTANDARD = PCI33_3;
NET "CLK" IOSTANDARD = PCI33_3;
NET "INTR" IOSTANDARD = PCI33_3;
NET "NMI" IOSTANDARD = LVCMOS33;
NET "READY" IOSTANDARD = PCI33_3;
NET "RESET" IOSTANDARD = PCI33_3;
NET "ALE" IOSTANDARD = PCI33_3;
NET "INTA_n" IOSTANDARD = PCI33_3;
NET "RD_n" IOSTANDARD = PCI33_3;
NET "DEN" IOSTANDARD = PCI33_3;
NET "WR_n" IOSTANDARD = PCI33_3;
NET "DTR" IOSTANDARD = PCI33_3;
NET "IOM" IOSTANDARD = PCI33_3;

NET "SRAM_A[18]" IOSTANDARD = PCI33_3;
NET "SRAM_A[17]" IOSTANDARD = PCI33_3;
NET "SRAM_A[16]" IOSTANDARD = PCI33_3;
NET "SRAM_A[15]" IOSTANDARD = PCI33_3;
NET "SRAM_A[14]" IOSTANDARD = PCI33_3;
NET "SRAM_A[13]" IOSTANDARD = PCI33_3;
NET "SRAM_A[12]" IOSTANDARD = PCI33_3;
NET "SRAM_A[11]" IOSTANDARD = PCI33_3;
NET "SRAM_A[10]" IOSTANDARD = PCI33_3;
NET "SRAM_A[9]" IOSTANDARD = PCI33_3;
NET "SRAM_A[8]" IOSTANDARD = PCI33_3;
NET "SRAM_A[7]" IOSTANDARD = PCI33_3;
NET "SRAM_A[6]" IOSTANDARD = PCI33_3;
NET "SRAM_A[5]" IOSTANDARD = PCI33_3;
NET "SRAM_A[4]" IOSTANDARD = PCI33_3;
NET "SRAM_A[3]" IOSTANDARD = PCI33_3;
NET "SRAM_A[2]" IOSTANDARD = PCI33_3;
NET "SRAM_A[1]" IOSTANDARD = PCI33_3;
NET "SRAM_A[0]" IOSTANDARD = PCI33_3;
NET "SRAM_CE_n" IOSTANDARD = PCI33_3;
NET "SRAM_OE_n" IOSTANDARD = PCI33_3;
NET "SRAM_WE_n" IOSTANDARD = PCI33_3;
NET "SRAM_D[7]" IOSTANDARD = PCI33_3;
NET "SRAM_D[6]" IOSTANDARD = PCI33_3;
NET "SRAM_D[5]" IOSTANDARD = PCI33_3;
NET "SRAM_D[4]" IOSTANDARD = PCI33_3;
NET "SRAM_D[3]" IOSTANDARD = PCI33_3;
NET "SRAM_D[2]" IOSTANDARD = PCI33_3;
NET "SRAM_D[1]" IOSTANDARD = PCI33_3;
NET "SRAM_D[0]" IOSTANDARD = PCI33_3;

NET "LED[7]" IOSTANDARD = PCI33_3;
NET "LED[6]" IOSTANDARD = PCI33_3;
NET "LED[5]" IOSTANDARD = PCI33_3;
NET "LED[4]" IOSTANDARD = PCI33_3;
NET "LED[3]" IOSTANDARD = PCI33_3;
NET "LED[2]" IOSTANDARD = PCI33_3;
NET "LED[1]" IOSTANDARD = PCI33_3;
NET "LED[0]" IOSTANDARD = PCI33_3;

NET "BUF1_OE_n" IOSTANDARD = PCI33_3;
NET "BUF2_OE_n" IOSTANDARD = PCI33_3;
NET "BUF2_DIR" IOSTANDARD = PCI33_3;
NET "SSO_n" IOSTANDARD = PCI33_3;






NET "A8" LOC = P14;
NET "A9" LOC = P11;
NET "A10" LOC = P9;
NET "A11" LOC = P7;
NET "A12" LOC = P5;
NET "A13" LOC = P1;
NET "A14" LOC = P142;
NET "A15" LOC = P143;
NET "A16" LOC = P2;
NET "A17" LOC = P6;
NET "A18" LOC = P8;
NET "A19" LOC = P10;
NET "AD0" LOC = P35;
NET "AD1" LOC = P34;
NET "AD2" LOC = P33;
NET "AD3" LOC = P32;
NET "AD4" LOC = P27;
NET "AD5" LOC = P26;
NET "AD6" LOC = P23;
NET "AD7" LOC = P22;
NET "CLK" LOC = P46;
NET "INTR" LOC = P45;
NET "NMI" LOC = P44;
NET "READY" LOC = P48;
NET "RESET" LOC = P47;
NET "ALE" LOC = P41;
NET "INTA_n" LOC = P58;
NET "RD_n" LOC = P50;
NET "WR_n" LOC = P51;
NET "IOM" LOC = P55;
NET "DTR" LOC = P56;
NET "DEN" LOC = P57;

NET "SRAM_A[18]" LOC = P99;
NET "SRAM_A[17]" LOC = P79;
NET "SRAM_A[16]" LOC = P78;
NET "SRAM_A[15]" LOC = P100;
NET "SRAM_A[14]" LOC = P75;
NET "SRAM_A[13]" LOC = P97;
NET "SRAM_A[12]" LOC = P74;
NET "SRAM_A[11]" LOC = P93;
NET "SRAM_A[10]" LOC = P88;
NET "SRAM_A[9]" LOC = P94;
NET "SRAM_A[8]" LOC = P95;
NET "SRAM_A[7]" LOC = P67;
NET "SRAM_A[6]" LOC = P66;
NET "SRAM_A[5]" LOC = P62;
NET "SRAM_A[4]" LOC = P61;
NET "SRAM_A[3]" LOC = P123;
NET "SRAM_A[2]" LOC = P124;
NET "SRAM_A[1]" LOC = P126;
NET "SRAM_A[0]" LOC = P132;

NET "SRAM_CE_n" LOC = P87;
NET "SRAM_OE_n" LOC = P92;
NET "SRAM_WE_n" LOC = P98;

NET "SRAM_D[7]" LOC = P85;
NET "SRAM_D[6]" LOC = P83;
NET "SRAM_D[5]" LOC = P82;
NET "SRAM_D[4]" LOC = P81;
NET "SRAM_D[3]" LOC = P80;
NET "SRAM_D[2]" LOC = P117;
NET "SRAM_D[1]" LOC = P118;
NET "SRAM_D[0]" LOC = P119;

NET "LED[7]" LOC = P131;
NET "LED[6]" LOC = P127;
NET "LED[5]" LOC = P121;
NET "LED[4]" LOC = P120;
NET "LED[3]" LOC = P116;
NET "LED[2]" LOC = P114;
NET "LED[1]" LOC = P112;
NET "LED[0]" LOC = P111;


NET "CORE_CLK" LOC = P84;


NET "BUF1_OE_n" LOC = P59;
NET "BUF2_OE_n" LOC = P21;
NET "BUF2_DIR" LOC = P16;
NET "SSO_n" LOC = P12;


# PlanAhead Generated IO constraints 

NET "NMI" PULLDOWN;
